@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --beige: #e9ead1;
  --grass: #75bf44;
  --yellow: #fbe600;
  --orange: #f17124;
  --red: #ea1f39;
  --blue: #41b9ea;
  --black: #000000;
}
