@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://p.typekit.net/p.css?s=1&k=jlk8nfo&ht=tk&f=43793.43794.43795&a=266738934&app=typekit&e=css");

@font-face {
  font-family: "hothouse";
  src: url("https://use.typekit.net/af/8ed725/00000000000000007735caac/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/8ed725/00000000000000007735caac/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/8ed725/00000000000000007735caac/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "hothouse";
  src: url("https://use.typekit.net/af/d2742d/00000000000000007735cab1/30/l?subset_id=2&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/d2742d/00000000000000007735cab1/30/d?subset_id=2&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/d2742d/00000000000000007735cab1/30/a?subset_id=2&fvd=n6&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "hothouse";
  src: url("https://use.typekit.net/af/2f2ef1/00000000000000007735cab5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/2f2ef1/00000000000000007735cab5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/2f2ef1/00000000000000007735cab5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

:root {
  --beige: #e9ead1;
  --grass: #75bf44;
  --yellow: #fbe600;
  --orange: #f17124;
  --red: #ea1f39;
  --blue: #41b9ea;
  --black: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.hothouse {
  font-family: "hothouse", sans-serif;
  font-weight: 700;
}

.speaker,
.bahnschrift {
  font-family: "Bahnschrift", sans-serif;
}

.link p {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.link.keynote p {
  margin: 0;
}

.link p::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 0.25em;
  background-color: var(--red);

  transition: all 0.25s ease-in-out;
}

.s-with-caron::before {
  content: "ˇ";
  position: absolute;
  font-size: 1.25em;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 0);
}

.mobile-navbar .link p::after {
  background-color: var(--white);
}

.link:hover p::after {
  width: 100%;
}

.button {
  display: block;
  overflow: hidden;
  position: relative;
  padding: 10px 20px;
  border: 2px solid black;
  color: black;
  transition: all 0.25s ease-in-out;
}

.button:hover {
  border: 2px solid var(--red);
  background-color: var(--red);
  transform: scale(1.05);
  color: var(--beige);
}

.check {
  position: relative;
  background: var(--red);
  line-height: 0;
  font-size: 25px;
}

.check input[type="checkbox"],
.check label,
.check label::before,
.check label::after {
  appearance: none;
  display: inline-block;
  font-size: inherit;
  border-radius: 1em;
  border: 0;
  transition: 0.35s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

.check {
  appearance: none;
  display: inline-block;
  border-radius: 1em;
  border: 0;
  transition: 0.35s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

.check label {
  width: 2.2em;
  height: 1em;
  background: var(--grass);
  overflow: hidden;
}

.check input[type="checkbox"] {
  position: absolute;
  z-index: 1;
  width: 0.8em;
  height: 0.8em;
  top: 0.1em;
  left: 0.1em;
  background: linear-gradient(45deg, #dedede, #ffffff);
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.3);
  outline: none;
}

.check input[type="checkbox"]:checked {
  left: 1.3em;
}

.check input[type="checkbox"]:checked + label {
  background: transparent;
}
